<div class="panel callout radius">
  <h5>This is a callout panel.</h5>
  <p>It's a little ostentatious, but useful for important content.</p>
</div>

<form data-abide>
  <div class="row">
    <div class="large-6 columns">
      <label>Nombres del empleado
        <input type="text" placeholder="large-6.columns" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Apellidos del empleado
        <input type="text" placeholder="large-6.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Fecha de nacimiento
        <input type="date" placeholder="large-12.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Direccion del empleado
        <input type="text" placeholder="large-12.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Telefonos del empleado
        <input type="text" placeholder="large-6.columns" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Correos electronicos
        <input type="text" placeholder="large-6.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Tipo de contrato
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div>
</form>