<div class="card">
  <div class="card-header">
    <h4>{{lblTittleForm}}</h4>
  </div>
  <div class="card-body">
	<form class="card-text needs-validation" novalidate #employeecreate="ngForm" (ngSubmit)="create()">
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="name">{{lblInputName}}</label>
	      <input type="text" class="form-control" id="name" name="name" placeholder="Richard" [(ngModel)]="employee.name" required>
	      <div class="invalid-feedback">
	        Please enter a message in the textarea.
	      </div>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="lastname">{{lblInputLastname}}</label>
	      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Mojica" [(ngModel)]="employee.lastname" required>
	      <div class="invalid-feedback">
	        Please enter a message in the textarea.
	      </div>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="birth">{{lblInputBirth}}</label>
	      <input type="date" class="form-control" id="birth" name="birth" [(ngModel)]="employee.birth" required>
	      <div class="invalid-feedback">
	        Please enter a message in the textarea.
	      </div>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="bothcity">{{lblInputBothCity}}</label>
	      <input type="text" class="form-control" id="bothcity" name="bothcity" [(ngModel)]="employee.bothcity" placeholder="Bogota" required>
	      <div class="invalid-feedback">
	        Please enter a message in the textarea.
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="address">{{lblInputAddress}}</label>
	    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="employee.address" placeholder="1234 Main St" required>
	    <div class="invalid-feedback">
	        Please enter a message in the textarea.
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="phones">{{lblInputPhones}}</label>
	    <input type="text" class="form-control" id="phones" name="phones" [(ngModel)]="employee.phones" placeholder="245678" required>
	    <div class="invalid-feedback">
	        Please enter a message in the textarea.
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="mails">{{lblInputMails}}</label>
	    <input type="text" class="form-control" id="mails" name="mails" [(ngModel)]="employee.mails" placeholder="mirandavelez@hotmail.com">
	    <div class="invalid-feedback">
	        Please enter a message in the textarea.
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="contractType">{{lblInputContractType}}</label>
	      <select id="contractType" name="contractType" [(ngModel)]="employee.contract.type" class="form-control">
	          <option value="husker">Temporal</option>
	          <option value="starbuck">Indefinido</option>
	      </select>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="contractNumber">{{lblInputContractNumber}}</label>
	      <input type="text" class="form-control" name="contractNumber" id="contractNumber" [(ngModel)]="employee.contract.number" placeholder="456799">
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="contractBegin">{{lblInputContractBegin}}</label>
	      <input type="date" class="form-control" name="contractBegin" id="contractBegin" [(ngModel)]="employee.contract.begin">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="contractEnd">{{lblInputContractEnd}}</label>
	      <input type="date" class="form-control" name="contractEnd" id="contractEnd" [(ngModel)]="employee.contract.end">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="userName">{{lblInputUsername}}</label>
	    <input type="text" class="form-control" name="username" id="username" [(ngModel)]="employee.user.name" placeholder="richmoj233" required>
	    <div class="invalid-feedback">
	        Please enter a message in the textarea.
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="password1">{{lblInputUserpasswd}}</label>
	      <input type="password" class="form-control" name="password1" id="password1" [(ngModel)]="employee.user.password1" placeholder="Clave" required>
		  <div class="invalid-feedback">
		      Please enter a message in the textarea.
		  </div>
	    </div>
	    <div class="form-group col-md-6">
	      <label for="password2">{{lblInputUserpasswdConfirm}}</label>
	      <input type="password" class="form-control" name="password2" id="password2" [(ngModel)]="employee.user.password2" placeholder="Repetir clave" required>
		  <div class="invalid-feedback">
		      Please enter a message in the textarea.
		  </div>
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <div class="form-group col-md-12 text-center">
	      	<button type="submit" class="btn btn-primary" [disabled]="!employeecreate.valid">{{lblButtonCreate}}</button>
	    	<button type="button" class="btn btn-primary">{{lblButtonClean}}</button>
	    </div>
	  </div>
	  
	</form>
  </div>
</div>

