<div class="wrapper">
  <alert type="primary">
	  <strong>This is a primary callout.</strong> 
	  This alert needs your attention, but it's not super important.
  </alert>
  <div class="panel">
    <h5>This is a regular panel.</h5>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
  <div class="abs-center wd-xl">
      <!-- START panel-->
      <div class="text-center mb-xl">
          <div class="text-lg mb-lg">403</div>
          <p class="lead m0">Acceso denegado :(</p>
          <p>Lamento informarte que no tienes el suficiente poder para ingresar a este recurso.</p>
      </div>
      <ul class="list-inline text-center text-sm mb-xl">
          <li><a class="text-muted" [routerLink]="'/'">Volver al inicio</a>
          </li>
      </ul>
  </div>
</div>